---
import Layout from '../layouts/Layout.astro'
import Comic from '../components/Comic.astro'

import pageOne from '../assets/Motion_001_V3.jpg'
import pageTwo from '../assets/v2/Motion_001_V22.jpg'
import pageThree from '../assets/v2/Motion_001_V23.jpg'
import pageFour from '../assets/v2/Motion_001_V24.jpg'
import pageFive from '../assets/v2/Motion_001_V25.jpg'
import pageSix from '../assets/v2/Motion_001_V26.jpg'
import pageSeven from '../assets/v2/Motion_001_V27.jpg'
import pageEight from '../assets/v2/Motion_001_V28.jpg'
import pageNine from '../assets/v2/Motion_001_V29.jpg'
import pageTen from '../assets/v2/Motion_001_V210.jpg'
import pageEleven from '../assets/v2/Motion_001_V211.jpg'
import pageTwelve from '../assets/v2/Motion_001_V212.jpg'
import pageThirteen from '../assets/v2/Motion_001_V213.jpg'
import pageFourteen from '../assets/v2/Motion_001_V214.jpg'
import pageFifteen from '../assets/v2/Motion_001_V215.jpg'
import pageSixteen from '../assets/v2/Motion_001_V216.jpg'
import pageSeventeen from '../assets/v2/Motion_001_V217.jpg'
import pageEighteen from '../assets/v2/Motion_001_V218.jpg'
import pageNineteen from '../assets/v2/Motion_001_V219.jpg'
import pageTwenty from '../assets/v2/Motion_001_V220.jpg'
import pageTwentyOne from '../assets/v2/Motion_001_V221.jpg'
import pageTwentyTwo from '../assets/v2/Motion_001_V222.jpg'
import pageTwentyThree from '../assets/v2/Motion_001_V223.jpg'
import pageTwenyFour from '../assets/v2/Motion_001_V224.jpg'
import pageTwentyFive from '../assets/v2/Motion_001_V225.jpg'
import pageTwentySix from '../assets/v2/Motion_001_V226.jpg'
import pageTwentySeven from '../assets/v2/Motion_001_V227.jpg'
import pageTwentyEight from '../assets/v2/Motion_001_V228.jpg'

const pages = [
  pageOne.src,
  pageTwo.src,
  pageThree.src,
  pageFour.src,
  pageFive.src,
  pageSix.src,
  pageSeven.src,
  pageEight.src,
  pageNine.src,
  pageTen.src,
  pageEleven.src,
  pageTwelve.src,
  pageThirteen.src,
  pageFourteen.src,
  pageFifteen.src,
  pageSixteen.src,
  pageSeventeen.src,
  pageEighteen.src,
  pageNineteen.src,
  pageTwenty.src,
  pageTwentyOne.src,
  pageTwentyTwo.src,
  pageTwentyThree.src,
  pageTwenyFour.src,
  pageTwentyFive.src,
  pageTwentySix.src,
  pageTwentySeven.src,
  pageTwentyEight.src
];
---

<Layout title="Welcome to Astro.">
	<main>
		<h1 class="text-md uppsercase text-center">Motion Photo Book Sample</h1>
        <a class="font-mono text-sm underline mt-4" href="../">Full Bleed</a>
		<Comic pages={pages} />
	</main>
</Layout>

<style>
	body{
		overflow: hidden;
	}
	main {
		margin: auto;
		padding: 1rem;
		width: 100%;
		display:flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
