---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';

import pageOne from '../assets/Motion_001_V3.jpg'
import pageTwo from '../assets/v2/Motion_001_V22.jpg'
import pageThree from '../assets/v2/Motion_001_V23.jpg'
import pageFour from '../assets/v2/Motion_001_V24.jpg'
import pageFive from '../assets/v2/Motion_001_V25.jpg'
import pageSix from '../assets/v2/Motion_001_V26.jpg'
import pageSeven from '../assets/v2/Motion_001_V27.jpg'
import pageEight from '../assets/v2/Motion_001_V28.jpg'
import pageNine from '../assets/v2/Motion_001_V29.jpg'
import pageTen from '../assets/v2/Motion_001_V210.jpg'
import pageEleven from '../assets/v2/Motion_001_V211.jpg'
import pageTwelve from '../assets/v2/Motion_001_V212.jpg'
import pageThirteen from '../assets/v2/Motion_001_V213.jpg'
import pageFourteen from '../assets/v2/Motion_001_V214.jpg'
import pageFifteen from '../assets/v2/Motion_001_V215.jpg'
import pageSixteen from '../assets/v2/Motion_001_V216.jpg'
import pageSeventeen from '../assets/v2/Motion_001_V217.jpg'
import pageEighteen from '../assets/v2/Motion_001_V218.jpg'
import pageNineteen from '../assets/v2/Motion_001_V219.jpg'
import pageTwenty from '../assets/v2/Motion_001_V220.jpg'
import pageTwentyOne from '../assets/v2/Motion_001_V221.jpg'
import pageTwentyTwo from '../assets/v2/Motion_001_V222.jpg'
import pageTwentyThree from '../assets/v2/Motion_001_V223.jpg'
import pageTwenyFour from '../assets/v2/Motion_001_V224.jpg'
import pageTwentyFive from '../assets/v2/Motion_001_V225.jpg'
import pageTwentySix from '../assets/v2/Motion_001_V226.jpg'
import pageTwentySeven from '../assets/v2/Motion_001_V227.jpg'
import pageTwentyEight from '../assets/v2/Motion_001_V228.jpg'

const pages = [
  pageOne,
  pageTwo,
  pageThree,
  pageFour,
  pageFive,
  pageSix,
  pageSeven,
  pageEight,
  pageNine,
  pageTen,
  pageEleven,
  pageTwelve,
  pageThirteen,
  pageFourteen,
  pageFifteen,
  pageSixteen,
  pageSeventeen,
  pageEighteen,
  pageNineteen,
  pageTwenty,
  pageTwentyOne,
  pageTwentyTwo,
  pageTwentyThree,
  pageTwenyFour,
  pageTwentyFive,
  pageTwentySix,
  pageTwentySeven,
  pageTwentyEight
];
---

<Layout title="Welcome to Astro.">
	<main>
		<h1 class="text-md uppsercase text-center">Motion Photo Book Sample</h1>
        <a class="font-mono text-sm underline mt-4" href="../">Full Bleed</a>
		<div id="book">
			{pages.map((page, index) => (
				<div class="my-page">
					<Image 
						class="lg:top-8 relative" 
						src={page} 
						title={`Photo Page ${index + 1}`}
						alt={`Page ${index + 1}`}
					/>
				</div>
			))}
		</div>
	</main>
</Layout>

<style>
	body{
		overflow: hidden;
	}
	main {
		margin: auto;
		padding: 1rem;
		width: 100%;
		display:flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
<script>
	import {PageFlip} from 'page-flip'
	const bookElement = document.getElementById('book');

	if (bookElement) {
			const pageFlip = new PageFlip(bookElement, {
				width: 396, // required parameter - base page width
				height: 645,  // required parameter - base page height,
				minWidth: 396,
				minHeight: 612,
				maxWidth: 396,
				maxHeight: 612,
				showCover: true,
				drawShadow: true,
				flippingTime: 500,
				mobileScrollSupport: true
			});

			pageFlip.loadFromHTML(document.querySelectorAll('.my-page'))
		} else {
			console.error('Element with id "book" not found');
		}
</script>